html {
    background-color: #222;
    background-image: url('/static/polls/images/textured.png');
    background-size: cover;
}

body {
    color: #efefef;
    font-family: sans-serif;
}

li a {
    color: green;
}